page-articles {
    .card-bg {
        ion-card {
            position: relative;
            text-align: center;

            .article-btn {
                padding: 0;
                background: transparent;
                .article-img {
                    width: 100%;
                }
                .item-inner {
                    padding: 0;
                    border-bottom: initial !important;
                    ion-label {
                        margin: 0;
                    }
                }
            }
        }
    
        .post-date {
            font-size: 0.8em;
        }
    
        .note {
            position: relative;
            vertical-align: sub;
            top: 4px;
            font-size: 0.9em;
        }
    }
}
