page-profile {

    .icon-social{
        position: absolute;
        left: 5%;
    }

    .user-avatar {
        position: relative;
        text-align: center;

        img {
            width: 50%;
            border-radius: 100%;
        }
    }
}
