.dark {
  ion-content {
    color: color($colors, light);
    background-color: color($colors, dark);
  }

  ion-list .item {
    color: color($colors, light);
    background-color: color($colors, dark);
  }

  small {
    color: darkgray;
  }

  .title {
      background-color: color($colors, dark);
      color: color($colors, light);
  }

  .item-block .item-inner {
      border-bottom: 1px solid #363636 !important;
  }

  .icon-theme {
    color: color($colors, light);
  }

  .button-theme {
    color: #424242;
    background-color: color($colors, light);
  }
  .button-theme.activated {
    background-color: color($colors, light);
  }

  .item-select {
    background-color: #2b2b2b;
    color: color($colors, light);
  }
  
  .toolbar-title {
    color: color($colors, light);
  }
  
  .toolbar-background {
    background-color: color($colors, dark);
  }

  .toolbar button {
    color: color($colors, light);
  }

  .bar-button-menutoggle {
    color: color($colors, light);
  }

  .dark-selected {
    box-shadow: 0px 0px 5px 1px rgb(0, 140, 255); 
  }

  // device custom css
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: transparent !important;
  }

  .single-article {
    background-color: color($colors, dark);
    border: 1px rgb(88, 88, 88) solid;

    p, small, h2, span {
      color: lightgrey;
    }

    ion-item {
      background-color: color($colors, dark);
      h2 {
        color: color($colors, light);
      }
    }
  }
}