.light {
  ion-content {
    background-color: color($colors, light);
  }
  
  .toolbar-background {
    background-color: color($colors, light);
  }
  
  .light-selected {
    box-shadow: 0px 0px 5px 1px rgb(0, 140, 255);
  }

  .icon-theme {
    color: #333;
  }

  .button-theme {
    color: color($colors, light);
    background-color: #333;
  }

  .button-theme.activated {
    background-color: #333;
  }

}